<form method="post" action="{{ path('app_categorieabo_delete', {'id': categorieabo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieabo.id) }}">
    <button class="btn">Delete</button>
</form>
