{% extends 'index.html.twig' %}

{% block title %}Abonnement {% endblock %}

{% block body %}
    <h1>Abonnement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieabo in categorieabos %}
            <tr>
                <td>{{ categorieabo.id }}</td>
                <td>{{ categorieabo.Nom }}</td>
                <td>
                    <a href="{{ path('app_categorieabo_show', {'id': categorieabo.id}) }}">show</a>
                    <a href="{{ path('app_categorieabo_edit', {'id': categorieabo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
